.footer {

  &__container {
    padding: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 30px;
      right: 30px;
      height: 4px; 
      background-color: $separator-color;
    }
  }

  &__box {
    text-align: center;
    @media screen and (min-width: $breakpoint-md) {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__box-adress {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: $breakpoint-md) {
          flex-direction: row;
          flex: 1 1 40%;
          gap: 6px;
          justify-content: flex-start;
        }
  }

  &__adress {
    font-size: 16px;
    line-height: 19px;
  }

  &__locete {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: $regular-color;

    @media screen and (min-width: $breakpoint-md) {
        padding: 0;
      }

  }

  &__box-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;

    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        flex: 1 1 40%;
        order: 1;
        gap: 6px;
        justify-content: flex-start;
      }
  }

  &__social {
      padding-top: 21px;

      @media screen and (min-width: $breakpoint-md) {
          padding: 0;
        }

      svg {
        width: 38px;
        height: 38px;
        fill: $regular-color;
      }
  }

  &__phone {
    color: $dark;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-top: 10px;
    @media screen and (min-width: $breakpoint-md) {
        padding: 0;
      }
  }

  &__mail {
    color: $regular-color;
    font-weight: 700;
    line-height: 19px;
    padding: 10px 0 30px 0;

    @media screen and (min-width: $breakpoint-md) {
        padding: 0;
      }
  }

  &__box-company {

    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        flex: 1 1 40%;
      }
  }

  &__company {
    color: $text-color;
    font-size: 16px;
    @media screen and (min-width: $breakpoint-md) {
      text-align: right;
    }
  }
}